<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">TITIP TAKIN</h1>
      <p class="lead">Where are you takin ?</p>
      <a class="btn btn-primary btn-lg" href="./item/<%=id%>" role="button"
        >Search</a
      >
    </div>
  </body>
</html>
